{% extends "base_page.html" %}

{% block page-title %}
Изучение немецкого языка
{% endblock %}

{% block page-lead %}
Это страничка проекта про изучение немецкого языка. <br/>
Этот проект и его исходный код можно использовать как справочник или источник вдохновения для своего проекта.
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Что есть в этом проекте</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#book-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Список слов</h3>
                <p>Простая страница с контентом, который разложен в таблицу. Содержимое таблицы находится в текстовом
                    файле (если вы уверенно себя чувствуете, замените текстовый файл на базу данных).</p>
                <a href="/words-list" class="btn btn-primary">Посмотреть</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#book-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Добавить новое слово</h3>
                <p>Форма для добавления нового слова в ваш словарь. Заполните поля и отправьте форму, чтобы улучшить свои навыки.</p>
                <a href="/add-word" class="btn btn-primary">Добавить слово</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#book-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Статистика словаря</h3>
                <p>Узнайте, сколько слов вы уже выучили и каков ваш прогресс в изучении языка.</p>
                <a href="/stats" class="btn btn-primary">Посмотреть статистику</a>
            </div>
        </div>
    </div>

    <h2 class="pb-2 border-bottom">Что можете сделать вы?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col-lg-4">
            <h4 class="py-1">Добавить ещё одно слово</h4>
        </div>
        <div class="col-lg-8">
            <p>Чтобы получить максимальную оценку по проекту, нужно две страницы, которые <span class="fst-italic">показывают</span> контент, а две страницы, которые <span class="fst-italic">принимают</span> контент. Одна страница с POST-запросом создана — это <a href="/add-word">форма для добавления слов</a>. Добавьте ещё одну форму и view, обрабатывающий её!</p>
        </div>
    </div>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col-lg-4">
            <h4 class="py-1">Разнообразить контент</h4>
        </div>
        <div class="col-lg-8">
            <p>Этот проект — про изучение немецкого языка. Измените содержимое страниц, чтобы они были полезны в контексте изучения языка (несколько примеров есть в описании проекта).</p>
        </div>
    </div>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col-lg-4">
            <h4 class="py-1">Изменить вёрстку и/или дизайн-систему</h4>
        </div>
        <div class="col-lg-8">
            <p>Этот проект использует <a href="https://getbootstrap.com">Bootstrap</a>. Попробуйте другие дизайн-системы, например:</p>
            <ul>
                 <li><a href="https://materializecss.com">Materialize</a></li>
                <li><a href="https://semantic-ui.com">Semantic UI</a></li>
                <li><a href="https://get.foundation/templates.html">Foundation</a></li>
            </ul>
            <p>Если же вам хочется оставить Bootstrap — измените вёрстку! Добавьте картинки, замените стили — словом, пробудите внутреннего художника.</p>
            <p><span class="fst-italic">Вариант улучшения:</span> как правило, у сайта есть фавикон — маленькая иконка, отображающаяся рядом с названием сайта во вкладке или окне браузера. Сейчас её нет — но вы можете её добавить.</p>
        </div>
    </div>

{% endblock %}
